/*Reset*/
*{
	margin: 0;
	padding: 0;
}

.container:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/*Contenedor general*/
.container{
	width:100%;
	max-width: 800px;
	margin: 0 auto;
}

/*Columnas*/
.col{
	box-sizing: border-box;
	padding: 10px;
}

@media (min-width: 500px) {
	.col{
		float: left;
	}

	.col-1{
		width: 8.3%;
	}

	.col-2{
		width: 16.6%;
	}

	.col-3{
		width: 25%;
	}

	.col-4{
		width:33.3%;
	}

	.col-5{
		width:41.6%;
	}
	.col-6{
		width:50%;
	}
	.col-7{
		width:58.3%;
	}
	.col-8{
		width: 66.6%;
	}
	.col-9{
		width: 75%;
	}
	.col-10{
		width: 83.3%;
	}
	.col-11{
		width: 93.7%;
	}
	.col-12{
		width: 100%;
	}
}

footer{
	text-align: right;
}